# <center>  Model Creat Dataframe proprietairescommunes [PRO]<br/></center>
<a name="TOP"></a>
- dev : nyx
- Fichier CSV : Proprietaires_csv/Proprietaires_csv/proprietairescommunes.csv</a>

ALERTES 98 lignes à Nan 
Faire les plus proches voisins apres FUSION ?
    
# Description Fichiers : 
Capital immo pour 2022 , 2012 , 2002 , 1992
avec pour chaque année :
    4 capital immo
    5 prix du bien

# Synthese des Actions :
Plus de 1000 communes non renseignees flag 1 pour BL_bug
creation de lignes avec que des 0
  
**<u>MENU</u>** 
- <a href="#Import">P0 : Import CSV</a>
- <a href="#EDA">P1 : Mini EDA</a>
- <a href="#Nan">P2 : Traitement des Nan</a>
- <a href="#TRANSCO">P3 : Filtres et/ou calculs</a>
- <a href="#EXPORT">P4 : EXPORT (/DATA/EXPORT_CSV/final_xxxxxxx.csv)</a>

PREFIXE FICHIER : KP1
Structure :

    0 dep
    1 nomdep
    2 codecommune
    3 nomcommune
    4 KP1_capitalimmo22
    5 KP1_prixbien22
    6 KP1_capitalimmo12
    7 KP1_prixbien12
    8 KP1_capitalimmo02
    9 KP1_prixbien02
    10 KP1_capitalimmo92
    11 KP1_prixbien92
    12 DBL_bug (flag à 1 poour les lignes ajoutées avec des Nan A TRAITER)

In [1]:
import warnings
warnings.filterwarnings("ignore")

import os
import zipfile
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## <a name="Import"></a>Partie 0 : Import CSV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [2]:
def df_creat(filename, df_dataframe):  
    df = df_dataframe[df_dataframe['filename'] == filename]
    if len(df) == 1:
        row = df.iloc[0]
        file = row['path']
        if os.path.exists(file):
            print(file)
            df_from_csv = pd.read_csv(file, encoding='utf-8', low_memory=False)
            return df_from_csv
        else:
            print('FICHIER NON TROUVE', file)
            return pd.DataFrame()
    else:
        print(f"filename: '{filename}' return size: {len(df)}")
        return pd.DataFrame()

In [3]:
csv_file_path = 'df_filtred.csv'
# Use pandas to read the CSV file into a DataFrame with UTF-8 encoding
df_cat = pd.read_csv(csv_file_path, encoding='utf-8')

In [4]:
df_cat.head(1)

,category,filename,comment,size,depart,district,commune,canton,yyyy,path,codecommune
0,Taille_agglo_commune_csv,codescommunes1999,codes,0,0,0,1,0,1999,../../ProjetCommun/DATA_SOURCES/HCP/Taille_agg...,1

In [20]:
df = df_creat('proprietairescommunes', df_cat)

../../ProjetCommun/DATA_SOURCES/HCP/Proprietaires_csv/Proprietaires_csv/proprietairescommunes.csv

## <a name="EDA"></a>Partie 1 : Mini EDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [21]:
df.shape

(37937, 426)

In [22]:
df.head(5)

,dep,nomdep,codecommune,nomcommune,ppropri1960,ppropri1961,ppropri1962,ppropri1963,ppropri1964,ppropri1965,...,perpropri1950,perpropri1951,perpropri1952,perpropri1953,perpropri1954,perpropri1955,perpropri1956,perpropri1957,perpropri1958,perpropri1959
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0.357664,0.377778,0.401515,0.426357,0.448819,0.483871,...,0.527854,0.527854,0.527854,0.527854,0.527854,0.527854,0.527854,0.527854,0.527854,0.527854
1,01,AIN,01002,ABERGEMENT-DE-VAREY,0.756098,0.761905,0.785714,0.809524,0.813953,0.837209,...,0.967130,0.967130,0.967130,0.967130,0.967130,0.967130,0.967130,0.967130,0.967130,0.967130
2,01,NaN,01003,NaN,NaN,NaN,0.421053,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,01,AIN,01004,AMBERIEU-EN-BUGEY,0.385695,0.382440,0.379423,0.376618,0.374005,0.371565,...,0.569873,0.569873,0.569873,0.569873,0.569873,0.569873,0.569873,0.569873,0.569873,0.569873
4,01,AIN,01005,AMBERIEUX-EN-DOMBES,0.300000,0.328125,0.357513,0.386598,0.413265,0.441624,...,0.445979,0.445979,0.445979,0.445979,0.445979,0.445979,0.445979,0.445979,0.445979,0.445979

In [23]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2012 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

ppropri2012
nlogement2012
npropri2012
perpropri2012
{'dep': '01', 'nomdep': 'AIN', 'codecommune': '01001', 'nomcommune': 'ABERGEMENT-CLEMENCIAT', 'ppropri2012': 0.81976742, 'nlogement2012': 344, 'npropri2012': 282, 'perpropri2012': 0.88384819}

In [24]:
282 / 344

0.8197674418604651

In [25]:
df.shape

(37937, 426)

In [26]:
list_yyyy = [2022,2012,2002,1992]
list_indic = ['ppropri','nlogement']
list_col = df.columns.tolist()
for yyyy in list_yyyy :
    for indic in list_indic :
        col_source = str(indic) + str(yyyy)
        if col_source in list_col :
            yy=str(yyyy)[-2:]
            new_col='PRO_'+ str(indic) + str(yy)
            df[new_col] = df[col_source]

df.shape

(37937, 434)

In [27]:
df = df.drop(df.columns[4:426], axis=1)
df.head(2)

,dep,nomdep,codecommune,nomcommune,PRO_ppropri22,PRO_nlogement22,PRO_ppropri12,PRO_nlogement12,PRO_ppropri02,PRO_nlogement02,PRO_ppropri92,PRO_nlogement92
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0.825359,418,0.819767,344,0.806691,269.0,0.768116,207.0
1,01,AIN,01002,ABERGEMENT-DE-VAREY,0.809524,126,0.800000,100,0.853333,75.0,0.897059,68.0

In [28]:
df.isna().sum()

dep                   0
nomdep             1375
codecommune           0
nomcommune         1375
PRO_ppropri22      1392
PRO_nlogement22       0
PRO_ppropri12      1377
PRO_nlogement12       0
PRO_ppropri02      1374
PRO_nlogement02    1374
PRO_ppropri92      1397
PRO_nlogement92    1396
dtype: int64

In [29]:
df['codecommune'].nunique(),len(df)

(37937, 37937)

## <a name="TRANSCO"></a>Partie 3 : Filtres et/ou calculs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [30]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [31]:
df_filtered = df[df['codecommune'].isin(lines)]
df_filtered.shape,df.shape

((33803, 12), (37937, 12))

In [32]:
codecommune_listdf_filtered= df_filtered['codecommune'].tolist()
codecommune_listdf_filtered[1], len(codecommune_listdf_filtered)

('01002', 33803)

In [33]:
absent = [x for x in lines if x not in codecommune_listdf_filtered]
len (absent)

27

In [34]:
absent

['13201',
 '13202',
 '13203',
 '13204',
 '13205',
 '13206',
 '13207',
 '13208',
 '13209',
 '13210',
 '13211',
 '13212',
 '13213',
 '13214',
 '13215',
 '13216',
 '69281',
 '69282',
 '69283',
 '69284',
 '69285',
 '69286',
 '69287',
 '69288',
 '69289',
 '69380',
 '75056']

In [35]:
df_filtered['DBL_bug'] = 0

In [36]:
df_filtered.head(1)

,dep,nomdep,codecommune,nomcommune,PRO_ppropri22,PRO_nlogement22,PRO_ppropri12,PRO_nlogement12,PRO_ppropri02,PRO_nlogement02,PRO_ppropri92,PRO_nlogement92,DBL_bug
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0.825359,418,0.819767,344,0.806691,269.0,0.768116,207.0,0

In [37]:
df_filtered.shape

(33803, 13)

In [38]:
for i,code in enumerate(absent) :
    new_row = ['*', '*', code, '*', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1]
    row_df = pd.DataFrame([new_row], columns=df_filtered.columns)
    df_filtered = pd.concat([df_filtered, row_df], ignore_index=True)
df_filtered.shape

(33830, 13)

In [40]:
33830-33803

27

In [41]:
df_filtered.isna().sum()

dep                 0
nomdep             11
codecommune         0
nomcommune         11
PRO_ppropri22      63
PRO_nlogement22    27
PRO_ppropri12      55
PRO_nlogement12    27
PRO_ppropri02      54
PRO_nlogement02    54
PRO_ppropri92      88
PRO_nlogement92    88
DBL_bug             0
dtype: int64

In [113]:
len(lines)

33830

In [114]:
len(df_filtered)

33830

## <a name="EXPORT"></a>Partie 4 : EXPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [115]:
for i,c in enumerate(df_filtered) : 
    print (i,c)

0 dep
1 nomdep
2 codecommune
3 nomcommune
4 KP1_capitalimmo22
5 KP1_prixbien22
6 KP1_capitalimmo12
7 KP1_prixbien12
8 KP1_capitalimmo02
9 KP1_prixbien02
10 KP1_capitalimmo92
11 KP1_prixbien92
12 DBL_bug

In [42]:
path_export='../DATA/EXPORT_CSV/final_PRO_proprietairescommunes.csv'

In [43]:
df_filtered.to_csv(path_export, sep=';', index=False)

print(f'DataFrame exported to: {path_export}')

DataFrame exported to: ../DATA/EXPORT_CSV/final_PRO_proprietairescommunes.csv