# <center>  Model Creat Dataframe basesfiscalescommunes [BFL]<br/></center>
<a name="TOP"></a>
- dev : nyx
- Fichier CSV : Capital_immobilier_csv/Capital_immobilier_csv/basesfiscalescommunes.csv</a>


    
# Description Fichiers : 
Base Fiscale commune 2020

# Synthese des Actions :

  
**<u>MENU</u>** 
- <a href="#Import">P0 : Import CSV</a>
- <a href="#EDA">P1 : Mini EDA</a>
- <a href="#Nan">P2 : Traitement des Nan</a>
- <a href="#TRANSCO">P3 : Filtres et/ou calculs</a>
- <a href="#EXPORT">P4 : EXPORT (/DATA/EXPORT_CSV/final_xxxxxxx.csv)</a>

PREFIXE FICHIER : KP1
Structure :

    0 dep
    1 nomdep
    2 codecommune
    3 nomcommune
    4 KP1_capitalimmo22
    5 KP1_prixbien22
    6 KP1_capitalimmo12
    7 KP1_prixbien12
    8 KP1_capitalimmo02
    9 KP1_prixbien02
    10 KP1_capitalimmo92
    11 KP1_prixbien92
    12 DBL_bug (flag à 1 poour les lignes ajoutées avec des Nan A TRAITER)

In [66]:
import warnings
warnings.filterwarnings("ignore")

import os
import zipfile
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## <a name="Import"></a>Partie 0 : Import CSV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [67]:
def df_creat(filename, df_dataframe):  
    df = df_dataframe[df_dataframe['filename'] == filename]
    if len(df) == 1:
        row = df.iloc[0]
        file = row['path']
        if os.path.exists(file):
            print(file)
            df_from_csv = pd.read_csv(file, encoding='utf-8', low_memory=False)
            return df_from_csv
        else:
            print('FICHIER NON TROUVE', file)
            return pd.DataFrame()
    else:
        print(f"filename: '{filename}' return size: {len(df)}")
        return pd.DataFrame()

In [68]:
csv_file_path = 'df_filtred.csv'
# Use pandas to read the CSV file into a DataFrame with UTF-8 encoding
df_cat = pd.read_csv(csv_file_path, encoding='utf-8')

In [69]:
df_cat.head(1)

,category,filename,comment,size,depart,district,commune,canton,yyyy,path,codecommune
0,Taille_agglo_commune_csv,codescommunes1999,codes,0,0,0,1,0,1999,../../ProjetCommun/DATA_SOURCES/HCP/Taille_agg...,1

In [70]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [71]:
df = df_creat('basesfiscalescommunes', df_cat)

../../ProjetCommun/DATA_SOURCES/HCP/Capital_immobilier_csv/Capital_immobilier_csv/basesfiscalescommunes.csv

## <a name="EDA"></a>Partie 1 : Mini EDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [72]:
df.shape

(40407, 1112)

In [73]:
df.head(5)

,dep,nomdep,codecommune,nomcommune,cog1881,cog1911,cog1920,codecommune1881,codecommune1911,codecommune1920,...,pop2021,pop2022,recetteratio2019,recetteratio2020,recetteratio2021,recetteratio2022,recetteimpotslocauxratio2021,recetteimpotslocauxratio2022,recetteimpotslocauxratio1980,recetteimpotslocauxratio1981
0,01,NaN,.,NaN,1.0,NaN,NaN,.,.,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01,AIN,01001,ABERGEMENT-CLÉMENCIAT,1.0,1.0,1.0,01001,01001,01001,...,784.0,786.0,1.036774,1.036774,1.036774,1.036774,0.446424,0.446424,0.897501,0.897501
2,01,AIN,01002,ABERGEMENT-DE-VAREY,1.0,1.0,1.0,01002,01002,01002,...,263.0,266.0,0.655969,0.655969,0.655969,0.655969,0.459627,0.459627,0.931115,0.931115
3,01,AIN,01004,AMBÉRIEU-EN-BUGEY,1.0,1.0,1.0,01004,01004,01004,...,14179.0,14201.0,0.935953,0.935953,0.935953,0.935953,0.963946,0.963946,0.867920,0.867920
4,01,AIN,01005,AMBÉRIEUX-EN-DOMBES,1.0,1.0,1.0,01005,01005,01005,...,1801.0,1825.0,0.557531,0.557531,0.557531,0.557531,0.685754,0.685754,0.476874,0.476874

In [74]:
codecommune_listdf = df['codecommune'].tolist()
codecommune_listdf[1], len(codecommune_listdf)

('01001', 40407)

In [75]:
df['codecommune'].nunique(),len(df)

(40204, 40407)

In [76]:
absent = [x for x in lines if x not in codecommune_listdf]
len (absent)

46

In [77]:
duplicates = df[df.duplicated('codecommune')]
duplicates.shape

(202, 1112)

In [78]:
duplicates = duplicates[duplicates['codecommune'].astype(str).str.len() == 5]
duplicates.shape

(3, 1112)

In [79]:
duplicates

,dep,nomdep,codecommune,nomcommune,cog1881,cog1911,cog1920,codecommune1881,codecommune1911,codecommune1920,...,pop2021,pop2022,recetteratio2019,recetteratio2020,recetteratio2021,recetteratio2022,recetteimpotslocauxratio2021,recetteimpotslocauxratio2022,recetteimpotslocauxratio1980,recetteimpotslocauxratio1981
40149,94,NaN,92033,NaN,NaN,NaN,1.0,NaN,NaN,92033,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40211,95,NaN,91527,NaN,1.0,NaN,NaN,91527,91527,91527,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40390,95,NaN,95638,NaN,NaN,1.0,NaN,NaN,95638,95638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
duplicates = duplicates.dropna(subset=['codecommune'])
duplicates.shape

(3, 1112)

In [81]:
df = df.drop_duplicates(subset=['codecommune'])
df.shape

(40205, 1112)

In [82]:
df= df[df['codecommune'].astype(str).str.len() == 5]
df.shape

(36779, 1112)

In [83]:
dico={}
cols_select=[]
list_year=[2020]
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char in list_year :
            dico[c] = value
            cols_select.append(c)
            # print (c)
    except ValueError as e:
        dico[c] = value
        cols_select.append(c)
print (dico,cols_select)

{'dep': '01', 'nomdep': 'AIN', 'codecommune': '01001', 'nomcommune': 'ABERGEMENT-CLÉMENCIAT', 'baseimpotslocauxratio2020': 0.67224181, 'recetteimpotslocauxratio2020': 0.4464241, 'tauximpotslocauxratio2020': 0.66408265, 'baseimpotslocauxtot2020': 1519407.0, 'recetteimpotslocauxtot2020': 185746.0, 'tauximpotslocaux2020': 0.12224901, 'recettetot2020': 1061904.4, 'baseimpotslocaux2020': 1945.4635, 'recetteimpotslocaux2020': 237.83098, 'recettefoncieretot2020': 83795.0, 'recettehabitationtot2020': 101951.0, 'recettefonciere2020': 107.29193, 'recettehabitation2020': 130.53905, 'recettefonciereratio2020': 0.3680605, 'recettehabitationratio2020': 0.54065454, 'basehabitationratio2020': 0.81245452, 'basefonciereratio2020': 0.53030092, 'tauxhabitationratio2020': 0.6654582, 'tauxfoncierratio2020': 0.69405967, 'basehabitationtot2020': 921783.0, 'basefoncieretot2020': 597624.0, 'tauxhabitation2020': 0.11060195, 'tauxfoncier2020': 0.14021356, 'basehabitation2020': 1180.2599, 'basefonciere2020': 765.20361, 'pop2020': 781.0, 'recetteratio2020': 1.0367742} ['dep', 'nomdep', 'codecommune', 'nomcommune', 'baseimpotslocauxratio2020', 'recetteimpotslocauxratio2020', 'tauximpotslocauxratio2020', 'baseimpotslocauxtot2020', 'recetteimpotslocauxtot2020', 'tauximpotslocaux2020', 'recettetot2020', 'baseimpotslocaux2020', 'recetteimpotslocaux2020', 'recettefoncieretot2020', 'recettehabitationtot2020', 'recettefonciere2020', 'recettehabitation2020', 'recettefonciereratio2020', 'recettehabitationratio2020', 'basehabitationratio2020', 'basefonciereratio2020', 'tauxhabitationratio2020', 'tauxfoncierratio2020', 'basehabitationtot2020', 'basefoncieretot2020', 'tauxhabitation2020', 'tauxfoncier2020', 'basehabitation2020', 'basefonciere2020', 'pop2020', 'recetteratio2020']

In [84]:
cols_select.remove('pop2020')
cols_select

['dep',
 'nomdep',
 'codecommune',
 'nomcommune',
 'baseimpotslocauxratio2020',
 'recetteimpotslocauxratio2020',
 'tauximpotslocauxratio2020',
 'baseimpotslocauxtot2020',
 'recetteimpotslocauxtot2020',
 'tauximpotslocaux2020',
 'recettetot2020',
 'baseimpotslocaux2020',
 'recetteimpotslocaux2020',
 'recettefoncieretot2020',
 'recettehabitationtot2020',
 'recettefonciere2020',
 'recettehabitation2020',
 'recettefonciereratio2020',
 'recettehabitationratio2020',
 'basehabitationratio2020',
 'basefonciereratio2020',
 'tauxhabitationratio2020',
 'tauxfoncierratio2020',
 'basehabitationtot2020',
 'basefoncieretot2020',
 'tauxhabitation2020',
 'tauxfoncier2020',
 'basehabitation2020',
 'basefonciere2020',
 'recetteratio2020']

In [85]:
df = df[cols_select]
df.shape

(36779, 30)

In [86]:
index_col_sup = df.shape[1]

In [87]:
for i,c in enumerate(df) :
    if i>3 :
        new_col = 'BFL_'+c[0:-2]
        print (i,c,new_col)
        df[new_col]=df[c]

4 baseimpotslocauxratio2020 BFL_baseimpotslocauxratio20
5 recetteimpotslocauxratio2020 BFL_recetteimpotslocauxratio20
6 tauximpotslocauxratio2020 BFL_tauximpotslocauxratio20
7 baseimpotslocauxtot2020 BFL_baseimpotslocauxtot20
8 recetteimpotslocauxtot2020 BFL_recetteimpotslocauxtot20
9 tauximpotslocaux2020 BFL_tauximpotslocaux20
10 recettetot2020 BFL_recettetot20
11 baseimpotslocaux2020 BFL_baseimpotslocaux20
12 recetteimpotslocaux2020 BFL_recetteimpotslocaux20
13 recettefoncieretot2020 BFL_recettefoncieretot20
14 recettehabitationtot2020 BFL_recettehabitationtot20
15 recettefonciere2020 BFL_recettefonciere20
16 recettehabitation2020 BFL_recettehabitation20
17 recettefonciereratio2020 BFL_recettefonciereratio20
18 recettehabitationratio2020 BFL_recettehabitationratio20
19 basehabitationratio2020 BFL_basehabitationratio20
20 basefonciereratio2020 BFL_basefonciereratio20
21 tauxhabitationratio2020 BFL_tauxhabitationratio20
22 tauxfoncierratio2020 BFL_tauxfoncierratio20
23 basehabitationtot2020 BFL_basehabitationtot20
24 basefoncieretot2020 BFL_basefoncieretot20
25 tauxhabitation2020 BFL_tauxhabitation20
26 tauxfoncier2020 BFL_tauxfoncier20
27 basehabitation2020 BFL_basehabitation20
28 basefonciere2020 BFL_basefonciere20
29 recetteratio2020 BFL_recetteratio20

In [88]:
df.shape

(36779, 56)

In [90]:
df = df.drop(df.columns[4:index_col_sup], axis=1)
df.head(2)

,dep,nomdep,codecommune,nomcommune,BFL_baseimpotslocauxratio20,BFL_recetteimpotslocauxratio20,BFL_tauximpotslocauxratio20,BFL_baseimpotslocauxtot20,BFL_recetteimpotslocauxtot20,BFL_tauximpotslocaux20,...,BFL_basefonciereratio20,BFL_tauxhabitationratio20,BFL_tauxfoncierratio20,BFL_basehabitationtot20,BFL_basefoncieretot20,BFL_tauxhabitation20,BFL_tauxfoncier20,BFL_basehabitation20,BFL_basefonciere20,BFL_recetteratio20
1,01,AIN,01001,ABERGEMENT-CLÉMENCIAT,0.672242,0.446424,0.664083,1519407.0,185746.0,0.122249,...,0.530301,0.665458,0.694060,921783.0,597624.0,0.110602,0.140214,1180.2599,765.20361,1.036774
2,01,AIN,01002,ABERGEMENT-DE-VAREY,0.788109,0.459627,0.583202,590723.0,63420.0,0.107360,...,0.590814,0.586608,0.613229,369920.0,220803.0,0.097497,0.123884,1428.2626,852.52124,0.655969

In [91]:
df.isna().sum()

dep                                  0
nomdep                            1943
codecommune                          0
nomcommune                         191
BFL_baseimpotslocauxratio20       2212
BFL_recetteimpotslocauxratio20    2195
BFL_tauximpotslocauxratio20       2214
BFL_baseimpotslocauxtot20         2207
BFL_recetteimpotslocauxtot20      2190
BFL_tauximpotslocaux20            2214
BFL_recettetot20                  2521
BFL_baseimpotslocaux20            2212
BFL_recetteimpotslocaux20         2195
BFL_recettefoncieretot20          2157
BFL_recettehabitationtot20        2008
BFL_recettefonciere20             2162
BFL_recettehabitation20           2018
BFL_recettefonciereratio20        2162
BFL_recettehabitationratio20      2018
BFL_basehabitationratio20         2020
BFL_basefonciereratio20           2178
BFL_tauxhabitationratio20         2022
BFL_tauxfoncierratio20            2180
BFL_basehabitationtot20           2010
BFL_basefoncieretot20             2173
BFL_tauxhabitation20              2022
BFL_tauxfoncier20                 2180
BFL_basehabitation20              2020
BFL_basefonciere20                2178
BFL_recetteratio20                1872
dtype: int64

In [92]:
df.shape

(36779, 30)

In [93]:
df['codecommune'].nunique(),len(df)

(36779, 36779)

## <a name="TRANSCO"></a>Partie 3 : Filtres et/ou calculs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [94]:
df_filtered = df[df['codecommune'].isin(lines)]
df_filtered.shape,df.shape

((33784, 30), (36779, 30))

In [95]:
codecommune_listdf_filtered= df_filtered['codecommune'].tolist()
codecommune_listdf_filtered[1], len(codecommune_listdf_filtered)

('01002', 33784)

In [96]:
absent = [x for x in lines if x not in codecommune_listdf_filtered]
len (absent)

46

In [97]:
absent

['13201',
 '13202',
 '13203',
 '13204',
 '13205',
 '13206',
 '13207',
 '13208',
 '13209',
 '13210',
 '13211',
 '13212',
 '13213',
 '13214',
 '13215',
 '13216',
 '69380',
 '69381',
 '69382',
 '69383',
 '69384',
 '69385',
 '69386',
 '69387',
 '69388',
 '69389',
 '75101',
 '75102',
 '75103',
 '75104',
 '75105',
 '75106',
 '75107',
 '75108',
 '75109',
 '75110',
 '75111',
 '75112',
 '75113',
 '75114',
 '75115',
 '75116',
 '75117',
 '75118',
 '75119',
 '75120']

Toujours les memes 27 communes qui posent pb !!!

['13201', '13202','13203','13204','13205','13206','13207', '13208', '13209', '13210', '13211', '13212', '13213', '13214', '13215', '13216', '69281', '69282', '69283', '69284', '69285',
 '69286', '69287', '69288', '69289', '69380', '75056']

In [98]:
df_filtered['DBL_bug'] = 0

In [99]:
df_filtered.head(1)

,dep,nomdep,codecommune,nomcommune,BFL_baseimpotslocauxratio20,BFL_recetteimpotslocauxratio20,BFL_tauximpotslocauxratio20,BFL_baseimpotslocauxtot20,BFL_recetteimpotslocauxtot20,BFL_tauximpotslocaux20,...,BFL_tauxhabitationratio20,BFL_tauxfoncierratio20,BFL_basehabitationtot20,BFL_basefoncieretot20,BFL_tauxhabitation20,BFL_tauxfoncier20,BFL_basehabitation20,BFL_basefonciere20,BFL_recetteratio20,DBL_bug
1,01,AIN,01001,ABERGEMENT-CLÉMENCIAT,0.672242,0.446424,0.664083,1519407.0,185746.0,0.122249,...,0.665458,0.69406,921783.0,597624.0,0.110602,0.140214,1180.2599,765.20361,1.036774,0

In [27]:
new_row = ['*', '*', 'code', '*'] + [np.nan] * 40 +[1]
len (new_row)

45

In [28]:
len(df_filtered.columns)

45

In [101]:
for i,code in enumerate(absent) :
    new_row = ['*', '*', code, '*'] + [np.nan] * 26 + [1]
    row_df = pd.DataFrame([new_row], columns=df_filtered.columns)
    df_filtered = pd.concat([df_filtered, row_df], ignore_index=True)
df_filtered.shape

(33830, 31)

## <a name="EXPORT"></a>Partie 4 : EXPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [102]:
path_export='../DATA/EXPORT_CSV/final_BFL_basesfiscalescommunes.csv'

In [103]:
df_filtered.to_csv(path_export, sep=';', index=False)
print(f'DataFrame exported to: {path_export}')

DataFrame exported to: ../DATA/EXPORT_CSV/final_BFL_basesfiscalescommunes.csv