# <center>  Model Creat Dataframe cspcommunes [CSP]<br/></center>
<a name="TOP"></a>
- dev : nyx
- Fichier CSV : Capital_immobilier_csv/Capital_immobilier_csv/basesfiscalescommunes.csv</a>

ALERTES 98 lignes à Nan 
Faire les plus proches voisins apres FUSION ?
    
# Description Fichiers : 
Capital immo pour 2022 , 2012 , 2002 , 1992
avec pour chaque année :
    4 capital immo
    5 prix du bien

# Synthese des Actions :
Plus de 1000 communes non renseignees flag 1 pour BL_bug
creation de lignes avec que des 0
  
**<u>MENU</u>** 
- <a href="#Import">P0 : Import CSV</a>
- <a href="#EDA">P1 : Mini EDA</a>
- <a href="#Nan">P2 : Traitement des Nan</a>
- <a href="#TRANSCO">P3 : Filtres et/ou calculs</a>
- <a href="#EXPORT">P4 : EXPORT (/DATA/EXPORT_CSV/final_xxxxxxx.csv)</a>

PREFIXE FICHIER : KP1
Structure :

    0 dep
    1 nomdep
    2 codecommune
    3 nomcommune
    4 KP1_capitalimmo22
    5 KP1_prixbien22
    6 KP1_capitalimmo12
    7 KP1_prixbien12
    8 KP1_capitalimmo02
    9 KP1_prixbien02
    10 KP1_capitalimmo92
    11 KP1_prixbien92
    12 DBL_bug (flag à 1 poour les lignes ajoutées avec des Nan A TRAITER)

In [1]:
import warnings
warnings.filterwarnings("ignore")

import os
import zipfile
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## <a name="Import"></a>Partie 0 : Import CSV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [2]:
def df_creat(filename, df_dataframe):  
    df = df_dataframe[df_dataframe['filename'] == filename]
    if len(df) == 1:
        row = df.iloc[0]
        file = row['path']
        if os.path.exists(file):
            print(file)
            df_from_csv = pd.read_csv(file, encoding='utf-8', low_memory=False)
            return df_from_csv
        else:
            print('FICHIER NON TROUVE', file)
            return pd.DataFrame()
    else:
        print(f"filename: '{filename}' return size: {len(df)}")
        return pd.DataFrame()

In [3]:
csv_file_path = 'df_filtred.csv'
# Use pandas to read the CSV file into a DataFrame with UTF-8 encoding
df_cat = pd.read_csv(csv_file_path, encoding='utf-8')

In [4]:
df_cat.head(1)

,category,filename,comment,size,depart,district,commune,canton,yyyy,path,codecommune
0,Taille_agglo_commune_csv,codescommunes1999,codes,0,0,0,1,0,1999,../../ProjetCommun/DATA_SOURCES/HCP/Taille_agg...,1

In [5]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [6]:
df = df_creat('cspcommunes', df_cat)

../../ProjetCommun/DATA_SOURCES/HCP/CSP_csv/CSP_csv/cspcommunes.csv

## <a name="EDA"></a>Partie 1 : Mini EDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [7]:
df.shape

(37985, 4016)

In [8]:
df.head(5)

,dep,nomdep,codecommune,nomcommune,agri1962,indp1962,cadr1962,pint1962,empl1962,ouvr1962,...,perchom1950,perchom1951,perchom1952,perchom1953,perchom1954,perchom1955,perchom1956,perchom1957,perchom1958,perchom1959
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,103.0,4.0,0.0,1.0,12.0,37.0,...,0.036952,0.036952,0.036952,0.036952,0.036952,0.036952,0.036952,0.036952,0.036952,0.036952
1,01,AIN,01002,ABERGEMENT-DE-VAREY,36.0,0.0,0.0,1.0,1.0,6.0,...,0.066204,0.066204,0.066204,0.066204,0.066204,0.066204,0.066204,0.066204,0.066204,0.066204
2,01,AIN,01003,AMAREINS,22.0,1.0,0.0,1.0,1.0,10.0,...,0.207861,0.207861,0.207861,0.207861,0.207861,0.207861,0.207861,0.207861,0.207861,0.207861
3,01,AIN,01004,AMBERIEU-EN-BUGEY,34.0,243.0,40.0,172.0,462.0,853.0,...,0.470220,0.470220,0.470220,0.470220,0.470220,0.470220,0.470220,0.470220,0.470220,0.470220
4,01,AIN,01005,AMBERIEUX-EN-DOMBES,65.0,45.0,0.0,5.0,16.0,60.0,...,0.384620,0.384620,0.384620,0.384620,0.384620,0.384620,0.384620,0.384620,0.384620,0.384620

In [9]:
codecommune_listdf = df['codecommune'].tolist()
codecommune_listdf[1], len(codecommune_listdf)

('01002', 37985)

In [10]:
df['codecommune'].nunique(),len(df)

(37985, 37985)

In [11]:
absent = [x for x in lines if x not in codecommune_listdf]
len (absent)

27

In [12]:
duplicates = df[df.duplicated('codecommune')]
duplicates.shape

(0, 4016)

In [13]:
dico={}
cols_select=[]
list_year=[2020]
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char in list_year :
            dico[c] = value
            cols_select.append(c)
            # print (c)
    except ValueError as e:
        dico[c] = value
        cols_select.append(c)
print (dico,cols_select)

{'dep': '01', 'nomdep': 'AIN', 'codecommune': '01001', 'nomcommune': 'ABERGEMENT-CLEMENCIAT', 'agri2020': 0, 'indp2020': 33, 'cadr2020': 39, 'pint2020': 26, 'empl2020': 86, 'ouvr2020': 129, 'chom2020': 25, 'aind2020': 33, 'aica2020': 72, 'ouem2020': 215, 'capi2020': 65, 'pact2020': 313, 'pagri2020': 0.0, 'pindp2020': 0.10543131, 'pcadr2020': 0.12460064, 'ppint2020': 0.083067089, 'pempl2020': 0.2747604, 'pouvr2020': 0.41214058, 'paind2020': 0.10543131, 'paica2020': 0.23003195, 'pouem2020': 0.68690097, 'pcapi2020': 0.20766774, 'pchom2020': 0.079872206, 'peragri2020': 0.018245948, 'perindp2020': 0.87479573, 'percadr2020': 0.38937613, 'perpint2020': 0.025955455, 'perempl2020': 0.47517255, 'perouvr2020': 0.96318156, 'perchom2020': 0.54835689, 'peraind2020': 0.81002879, 'peraica2020': 0.48517478, 'perouem2020': 0.9385314, 'percapi2020': 0.04998539} ['dep', 'nomdep', 'codecommune', 'nomcommune', 'agri2020', 'indp2020', 'cadr2020', 'pint2020', 'empl2020', 'ouvr2020', 'chom2020', 'aind2020', 'aica2020', 'ouem2020', 'capi2020', 'pact2020', 'pagri2020', 'pindp2020', 'pcadr2020', 'ppint2020', 'pempl2020', 'pouvr2020', 'paind2020', 'paica2020', 'pouem2020', 'pcapi2020', 'pchom2020', 'peragri2020', 'perindp2020', 'percadr2020', 'perpint2020', 'perempl2020', 'perouvr2020', 'perchom2020', 'peraind2020', 'peraica2020', 'perouem2020', 'percapi2020']

In [15]:

cols_select

['dep',
 'nomdep',
 'codecommune',
 'nomcommune',
 'agri2020',
 'indp2020',
 'cadr2020',
 'pint2020',
 'empl2020',
 'ouvr2020',
 'chom2020',
 'aind2020',
 'aica2020',
 'ouem2020',
 'capi2020',
 'pact2020',
 'pagri2020',
 'pindp2020',
 'pcadr2020',
 'ppint2020',
 'pempl2020',
 'pouvr2020',
 'paind2020',
 'paica2020',
 'pouem2020',
 'pcapi2020',
 'pchom2020',
 'peragri2020',
 'perindp2020',
 'percadr2020',
 'perpint2020',
 'perempl2020',
 'perouvr2020',
 'perchom2020',
 'peraind2020',
 'peraica2020',
 'perouem2020',
 'percapi2020']

In [16]:
df.shape

(37985, 4016)

In [17]:
list_yyyy = [2022,2012,2002,1992]
list_indic = ['agri','indp','cadr','pint','empl','ouvr','chom']
list_col = df.columns.tolist()
for yyyy in list_yyyy :
    for indic in list_indic :
        col_source = str(indic) + str(yyyy)
        if col_source in list_col :
            yy=str(yyyy)[-2:]
            new_col='CSP_'+ str(indic) +'_'+ str(yy)
            df[new_col] = df[col_source]
df.shape

(37985, 4044)

In [88]:
df.shape

(36779, 56)

In [18]:
df = df.drop(df.columns[4:4016], axis=1)
df.head(2)

,dep,nomdep,codecommune,nomcommune,CSP_agri_22,CSP_indp_22,CSP_cadr_22,CSP_pint_22,CSP_empl_22,CSP_ouvr_22,...,CSP_empl_02,CSP_ouvr_02,CSP_chom_02,CSP_agri_92,CSP_indp_92,CSP_cadr_92,CSP_pint_92,CSP_empl_92,CSP_ouvr_92,CSP_chom_92
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0,39,33,14,86,147,...,71.0,76.0,16.0,16.0,23.0,15.0,47.0,52.0,67.0,7.0
1,01,AIN,01002,ABERGEMENT-DE-VAREY,0,39,9,0,66,0,...,11.0,18.0,9.0,3.0,9.0,5.0,6.0,8.0,13.0,9.0

In [19]:
df.isna().sum()

dep               0
nomdep          243
codecommune       0
nomcommune        0
CSP_agri_22       0
CSP_indp_22       0
CSP_cadr_22       0
CSP_pint_22       0
CSP_empl_22       0
CSP_ouvr_22       0
CSP_chom_22       0
CSP_agri_12    2697
CSP_indp_12    2697
CSP_cadr_12    2697
CSP_pint_12    2697
CSP_empl_12    2697
CSP_ouvr_12    2697
CSP_chom_12    2697
CSP_agri_02    1416
CSP_indp_02    1416
CSP_cadr_02    1416
CSP_pint_02    1416
CSP_empl_02    1416
CSP_ouvr_02    1416
CSP_chom_02    1416
CSP_agri_92    1429
CSP_indp_92    1429
CSP_cadr_92    1429
CSP_pint_92    1429
CSP_empl_92    1429
CSP_ouvr_92    1429
CSP_chom_92    1429
dtype: int64

In [20]:
df.shape

(37985, 32)

In [21]:
df['codecommune'].nunique(),len(df)

(37985, 37985)

## <a name="TRANSCO"></a>Partie 3 : Filtres et/ou calculs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [22]:
df_filtered = df[df['codecommune'].isin(lines)]
df_filtered.shape,df.shape

((33803, 32), (37985, 32))

In [23]:
codecommune_listdf_filtered= df_filtered['codecommune'].tolist()
codecommune_listdf_filtered[1], len(codecommune_listdf_filtered)

('01002', 33803)

In [24]:
absent = [x for x in lines if x not in codecommune_listdf_filtered]
len (absent)

27

In [25]:
absent

['13201',
 '13202',
 '13203',
 '13204',
 '13205',
 '13206',
 '13207',
 '13208',
 '13209',
 '13210',
 '13211',
 '13212',
 '13213',
 '13214',
 '13215',
 '13216',
 '69380',
 '69381',
 '69382',
 '69383',
 '69384',
 '69385',
 '69386',
 '69387',
 '69388',
 '69389',
 '75056']

Toujours les memes 27 communes qui posent pb !!!

['13201', '13202','13203','13204','13205','13206','13207', '13208', '13209', '13210', '13211', '13212', '13213', '13214', '13215', '13216', '69281', '69282', '69283', '69284', '69285',
 '69286', '69287', '69288', '69289', '69380', '75056']

In [26]:
df_filtered['DBL_bug'] = 0

In [99]:
df_filtered.head(1)

,dep,nomdep,codecommune,nomcommune,BFL_baseimpotslocauxratio20,BFL_recetteimpotslocauxratio20,BFL_tauximpotslocauxratio20,BFL_baseimpotslocauxtot20,BFL_recetteimpotslocauxtot20,BFL_tauximpotslocaux20,...,BFL_tauxhabitationratio20,BFL_tauxfoncierratio20,BFL_basehabitationtot20,BFL_basefoncieretot20,BFL_tauxhabitation20,BFL_tauxfoncier20,BFL_basehabitation20,BFL_basefonciere20,BFL_recetteratio20,DBL_bug
1,01,AIN,01001,ABERGEMENT-CLÉMENCIAT,0.672242,0.446424,0.664083,1519407.0,185746.0,0.122249,...,0.665458,0.69406,921783.0,597624.0,0.110602,0.140214,1180.2599,765.20361,1.036774,0

In [29]:
new_row = ['*', '*', 'code', '*'] + [np.nan] * 28 +[1]
len (new_row)

33

In [30]:
len(df_filtered.columns)

33

In [31]:
for i,code in enumerate(absent) :
    new_row = ['*', '*', code, '*'] + [np.nan] * 28 + [1]
    row_df = pd.DataFrame([new_row], columns=df_filtered.columns)
    df_filtered = pd.concat([df_filtered, row_df], ignore_index=True)
df_filtered.shape

(33830, 33)

## <a name="EXPORT"></a>Partie 4 : EXPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [32]:
path_export='../DATA/EXPORT_CSV/final_CSP_cspcommunes.csv'

In [33]:
df_filtered.to_csv(path_export, sep=';', index=False)
print(f'DataFrame exported to: {path_export}')

DataFrame exported to: ../DATA/EXPORT_CSV/final_CSP_cspcommunes.csv