# <center>  Model Creat Dataframe naticommunes [NAT]<br/></center>
<a name="TOP"></a>
- dev : nyx
- Fichier CSV : Nationalites_csv/Nationalites_csv/naticommunes.csv

ALERTES 98 lignes à Nan 
Faire les plus proches voisins apres FUSION ?
    
# Description Fichiers : 
Nationalites communes 2022
avec pour chaque année :
    4 capital immo
    5 prix du bien

# Synthese des Actions :
Plus de 1000 communes non renseignees flag 1 pour BL_bug
creation de lignes avec que des 0
  
**<u>MENU</u>** 
- <a href="#Import">P0 : Import CSV</a>
- <a href="#EDA">P1 : Mini EDA</a>
- <a href="#Nan">P2 : Traitement des Nan</a>
- <a href="#TRANSCO">P3 : Filtres et/ou calculs</a>
- <a href="#EXPORT">P4 : EXPORT (/DATA/EXPORT_CSV/final_xxxxxxx.csv)</a>

PREFIXE FICHIER : KP1
Structure :

    0 dep
    1 nomdep
    2 codecommune
    3 nomcommune
    4 KP1_capitalimmo22
    5 KP1_prixbien22
    6 KP1_capitalimmo12
    7 KP1_prixbien12
    8 KP1_capitalimmo02
    9 KP1_prixbien02
    10 KP1_capitalimmo92
    11 KP1_prixbien92
    12 DBL_bug (flag à 1 poour les lignes ajoutées avec des Nan A TRAITER)

In [3]:
import warnings
warnings.filterwarnings("ignore")

import os
import zipfile
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## <a name="Import"></a>Partie 0 : Import CSV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>
Import lines = list_codecommune_leg2022_50inscrits.txt

In [4]:
def df_creat(filename, df_dataframe):  
    df = df_dataframe[df_dataframe['filename'] == filename]
    if len(df) == 1:
        row = df.iloc[0]
        file = row['path']
        if os.path.exists(file):
            print(file)
            df_from_csv = pd.read_csv(file, encoding='utf-8', low_memory=False)
            return df_from_csv
        else:
            print('FICHIER NON TROUVE', file)
            return pd.DataFrame()
    else:
        print(f"filename: '{filename}' return size: {len(df)}")
        return pd.DataFrame()

In [5]:
csv_file_path = 'df_filtred.csv'
# Use pandas to read the CSV file into a DataFrame with UTF-8 encoding
df_cat = pd.read_csv(csv_file_path, encoding='utf-8')

In [6]:
df_cat.head(1)

,category,filename,comment,size,depart,district,commune,canton,yyyy,path,codecommune
0,Taille_agglo_commune_csv,codescommunes1999,codes,0,0,0,1,0,1999,../../ProjetCommun/DATA_SOURCES/HCP/Taille_agg...,1

In [7]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [8]:
df = df_creat('naticommunes', df_cat)

../../ProjetCommun/DATA_SOURCES/HCP/Nationalites_csv/Nationalites_csv/naticommunes.csv

## <a name="EDA"></a>Partie 1 : Mini EDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [9]:
df.shape

(37963, 547)

In [10]:
df.head(5)

,dep,nomdep,codecommune,nomcommune,paris,lm,pop1962,francais1962,etranger1962,franaiss1962,...,pnatur2007,pnaturfra2007,pnatur2012,pnaturfra2012,pnatur2017,pnaturfra2017,pnatur2022,pnaturfra2022,perimm,petranalg1962
0,80,SOMME,80355,FRESNEVILLE,0,0,107.0,105.0,2.0,105.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.000000
1,30,GARD,30213,REVENS,0,0,39.0,39.0,0.0,39.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.000000
2,55,MEUSE,55434,RIGNY-SAINT-MARTIN,0,0,57.0,57.0,0.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.000000
3,80,SOMME,80401,GUILLEMONT,0,0,197.0,189.0,8.0,185.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.005076
4,2B,HAUTE-CORSE,2B264,RUSIO,0,0,220.0,220.0,0.0,220.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000006,0.000000

In [11]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2022 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

petranger2022
peretr2022
francais2022
etranger2022
pop2022
immigre2022
pimmigre2022
immnatur2022
pimmnatur2022
perimmigre2022
natur2022
pnatur2022
pnaturfra2022
{'dep': '80', 'nomdep': 'SOMME', 'codecommune': '80355', 'nomcommune': 'FRESNEVILLE', 'paris': 0, 'lm': 0, 'petranger2022': 0.0, 'peretr2022': 0.0093173301, 'francais2022': 105, 'etranger2022': 0, 'pop2022': 105, 'immigre2022': 0, 'prapat': 0.0, 'perrapat': 0.022626322, 'pimmigre2022': 0.0, 'immnatur2022': 0, 'pimmnatur2022': 0.0, 'perimmigre2022': 1.5965788e-06, 'natur2022': 0, 'pnatur2022': 0.0, 'pnaturfra2022': 0.0, 'perimm': 1.5965788e-06}

In [12]:
# ['petranger2022','pimmigre2022','pimmnatur2022','pnatur2022']

In [13]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2012 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

petranger2012
peretr2012
pop2012
francais2012
etranger2012
immigre2012
pimmigre2012
immnatur2012
pimmnatur2012
perimmigre2012
natur2012
pnatur2012
pnaturfra2012
{'dep': '80', 'nomdep': 'SOMME', 'codecommune': '80355', 'nomcommune': 'FRESNEVILLE', 'paris': 0, 'lm': 0, 'petranger2012': 0.0, 'peretr2012': 0.0011042827, 'pop2012': 105.0, 'francais2012': 105.0, 'etranger2012': 0.0, 'immigre2012': 0.0, 'prapat': 0.0, 'perrapat': 0.022626322, 'pimmigre2012': 0.0, 'immnatur2012': 0, 'pimmnatur2012': 0.0, 'perimmigre2012': 0.0019888605, 'natur2012': 0, 'pnatur2012': 0.0, 'pnaturfra2012': 0.0, 'perimm': 1.5965788e-06}

In [14]:
# ['petranger2022','pimmigre2022','pimmnatur2022','pnatur2022','petranger2012','pimmigre2012','pimmnatur2012','pimmnatur2012']

In [15]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2002 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

petranger2002
peretr2002
francais2002
etranger2002
pop2002
{'dep': '80', 'nomdep': 'SOMME', 'codecommune': '80355', 'nomcommune': 'FRESNEVILLE', 'paris': 0, 'lm': 0, 'petranger2002': 0.0, 'peretr2002': 0.0087613985, 'francais2002': 87.0, 'etranger2002': 0.0, 'pop2002': 87.0, 'prapat': 0.0, 'perrapat': 0.022626322, 'perimm': 1.5965788e-06}

In [16]:
# ['petranger2022','pimmigre2022','pimmnatur2022','pnatur2022','petranger2012','pimmigre2012','pimmnatur2012','pimmnatur2012','petranger2002']

In [17]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 1992 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

petranger1992
peretr1992
francais1992
etranger1992
pop1992
{'dep': '80', 'nomdep': 'SOMME', 'codecommune': '80355', 'nomcommune': 'FRESNEVILLE', 'paris': 0, 'lm': 0, 'petranger1992': 0.0, 'peretr1992': 0.00021947466, 'francais1992': 71.0, 'etranger1992': 0.0, 'pop1992': 71.0, 'prapat': 0.0, 'perrapat': 0.022626322, 'perimm': 1.5965788e-06}

In [18]:
# ['petranger2022','pimmigre2022','pimmnatur2022','pnatur2022','petranger2012','pimmigre2012','pimmnatur2012','pimmnatur2012','petranger2002','petranger1992']

col_dict = {
    'petranger2022' : 'NAT_petranger22',
    'pimmigre2022' : 'NAT_pimmigre22',
    'pimmnatur2022' : 'NAT_pimmnatur22',
    'pnatur2022' : 'NAT_pnatur22' ,
    'petranger2012' : 'NAT_petranger12' ,
    'pimmigre2012' : 'NAT_pimmigre12',
    'pimmnatur2012' : 'NAT_pimmnatur12',
    'pimmnatur2012' : 'NAT_pimmnatur12',
    'petranger2002' : 'NAT_petranger02',
    'petranger1992' : 'NAT_petranger92' }

col_to_add = list(col_dict.keys())
col_to_add

['petranger2022',
 'pimmigre2022',
 'pimmnatur2022',
 'pnatur2022',
 'petranger2012',
 'pimmigre2012',
 'pimmnatur2012',
 'petranger2002',
 'petranger1992']

In [19]:
df.shape

(37963, 547)

In [20]:
for c in list(col_dict.keys()) :
    df[col_dict[c]] = df[c]

In [21]:
df.shape

(37963, 556)

In [22]:
df = df.drop(df.columns[4:547], axis=1)
df.head(2)

,dep,nomdep,codecommune,nomcommune,NAT_petranger22,NAT_pimmigre22,NAT_pimmnatur22,NAT_pnatur22,NAT_petranger12,NAT_pimmigre12,NAT_pimmnatur12,NAT_petranger02,NAT_petranger92
0,80,SOMME,80355,FRESNEVILLE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,30,GARD,30213,REVENS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df['codecommune'].nunique(),len(df)

(37963, 37963)

# REMPLACER NAN par 0

In [27]:
df.isna().sum()

dep                   0
nomdep                0
codecommune           0
nomcommune            0
NAT_petranger22    3088
NAT_pimmigre22     3088
NAT_pimmnatur22    3088
NAT_pnatur22       3088
NAT_petranger12    1372
NAT_pimmigre12     1372
NAT_pimmnatur12    1372
NAT_petranger02    1375
NAT_petranger92    1411
dtype: int64

In [28]:
df['DBL_bug'] = 0

In [29]:
(df == 0).sum()

dep                    0
nomdep                 0
codecommune            0
nomcommune             0
NAT_petranger22     4238
NAT_pimmigre22      3392
NAT_pimmnatur22     7515
NAT_pnatur22        7515
NAT_petranger12     3926
NAT_pimmigre12      1865
NAT_pimmnatur12     6905
NAT_petranger02     3932
NAT_petranger92     6502
DBL_bug            37963
dtype: int64

In [32]:
df['DBL_bug'] = df.isna().any(axis=1).astype(int)
(df == 0).sum()

dep                    0
nomdep                 0
codecommune            0
nomcommune             0
NAT_petranger22     4238
NAT_pimmigre22      3392
NAT_pimmnatur22     7515
NAT_pnatur22        7515
NAT_petranger12     3926
NAT_pimmigre12      1865
NAT_pimmnatur12     6905
NAT_petranger02     3932
NAT_petranger92     6502
DBL_bug            34798
dtype: int64

In [34]:
37963 - 34798

3165

In [37]:
df = df.fillna(0)
df.isna().sum()

dep                0
nomdep             0
codecommune        0
nomcommune         0
NAT_petranger22    0
NAT_pimmigre22     0
NAT_pimmnatur22    0
NAT_pnatur22       0
NAT_petranger12    0
NAT_pimmigre12     0
NAT_pimmnatur12    0
NAT_petranger02    0
NAT_petranger92    0
DBL_bug            0
dtype: int64

## <a name="TRANSCO"></a>Partie 3 : Filtres et/ou calculs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [38]:
df_filtered = df[df['codecommune'].isin(lines)]
df_filtered.shape,df.shape

((33829, 14), (37963, 14))

In [39]:
len(lines)

33830

In [40]:
codecommune_listdf_filtered= df_filtered['codecommune'].tolist()
codecommune_listdf_filtered[1], len(codecommune_listdf_filtered)
absent = [x for x in lines if x not in codecommune_listdf_filtered]
len (absent)

1

In [41]:
absent

['69380']

In [42]:
for i,c in enumerate(df_filtered) : 
    print (i,c)

0 dep
1 nomdep
2 codecommune
3 nomcommune
4 NAT_petranger22
5 NAT_pimmigre22
6 NAT_pimmnatur22
7 NAT_pnatur22
8 NAT_petranger12
9 NAT_pimmigre12
10 NAT_pimmnatur12
11 NAT_petranger02
12 NAT_petranger92
13 DBL_bug

In [43]:
df_filtered.shape

(33829, 14)

In [44]:
for i,code in enumerate(absent) :
    new_row = ['*', '*', code, '*', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
    row_df = pd.DataFrame([new_row], columns=df_filtered.columns)
    df_filtered = pd.concat([df_filtered, row_df], ignore_index=True)
df_filtered.shape

(33830, 14)

In [45]:
codecommune_listdf_filtered2 = df_filtered['codecommune'].tolist()
absent = [x for x in lines if x not in codecommune_listdf_filtered2]
len (absent)

0

## <a name="EXPORT"></a>Partie 4 : EXPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [46]:
for i,c in enumerate(df_filtered) : 
    print (i,c)

0 dep
1 nomdep
2 codecommune
3 nomcommune
4 NAT_petranger22
5 NAT_pimmigre22
6 NAT_pimmnatur22
7 NAT_pnatur22
8 NAT_petranger12
9 NAT_pimmigre12
10 NAT_pimmnatur12
11 NAT_petranger02
12 NAT_petranger92
13 DBL_bug

In [47]:
path_export='../DATA/EXPORT_CSV/final_NAT_naticommunes.csv'

In [48]:
df_filtered.to_csv(path_export, sep=';', index=False)

print(f'DataFrame exported to: {path_export}')

DataFrame exported to: ../DATA/EXPORT_CSV/final_NAT_naticommunes.csv