# <center>  Model Creat Dataframe terrescommunes [TER]<br/></center>
<a name="TOP"></a>
- dev : nyx
- Fichier CSV :  Capital_immobilier_csv/Capital_immobilier_csv/terrescommunes.csv</a>
    
# Description Fichiers : 
Terre Communes
avec pour chaque periode :
- prix total des transaction (Pri)
- Surface totale des transactions (Surf)
- Surface totale des tarrainss (SurfTer)
- Nombre de transactions (transac)
- Prix m² moyen (prim2)

# Synthese des Actions :
27 lignes absentes
remplacement des Nan par 0
  
**<u>MENU</u>** 
- <a href="#Import">P0 : Import CSV</a>
- <a href="#EDA">P1 : Mini EDA</a>
- <a href="#Nan">P2 : Traitement des Nan</a>
- <a href="#TRANSCO">P3 : Filtres et/ou calculs</a>
- <a href="#EXPORT">P4 : EXPORT (/DATA/EXPORT_CSV/final_xxxxxxx.csv)</a>

PREFIXE FICHIER : TER
Structure :

    0 dep
    1 nomdep
    2 codecommune
    3 nomcommune
    4 TER_nexploit
    5 TER_surf
    6 TER_nexploit68
    7 TER_surf68
    8 DBL_bug (flag à 1 poour les lignes ajoutées avec des 0)

In [73]:
import warnings
warnings.filterwarnings("ignore")

import os
import zipfile
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## <a name="Import"></a>Partie 0 : Import CSV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [74]:
def df_creat(filename, df_dataframe):  
    df = df_dataframe[df_dataframe['filename'] == filename]
    if len(df) == 1:
        row = df.iloc[0]
        file = row['path']
        if os.path.exists(file):
            print(file)
            df_from_csv = pd.read_csv(file, encoding='utf-8', low_memory=False)
            return df_from_csv
        else:
            print('FICHIER NON TROUVE', file)
            return pd.DataFrame()
    else:
        print(f"filename: '{filename}' return size: {len(df)}")
        return pd.DataFrame()

In [75]:
csv_file_path = 'df_filtred.csv'
# Use pandas to read the CSV file into a DataFrame with UTF-8 encoding
df_cat = pd.read_csv(csv_file_path, encoding='utf-8')

In [76]:
df_cat.head(1)

,category,filename,comment,size,depart,district,commune,canton,yyyy,path,codecommune
0,Taille_agglo_commune_csv,codescommunes1999,codes,0,0,0,1,0,1999,../../ProjetCommun/DATA_SOURCES/HCP/Taille_agg...,1

In [77]:
df = df_creat('terrescommunes', df_cat)

../../ProjetCommun/DATA_SOURCES/HCP/Capital_immobilier_csv/Capital_immobilier_csv/terrescommunes.csv

## <a name="EDA"></a>Partie 1 : Mini EDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [78]:
df.shape

(37936, 25)

In [79]:
df.head(5)

,dep,nomdep,codecommune,nomcommune,nomcanton,nexploit,nexploit50p,surface,surface50p,pexploit50p,...,surface50pcanton,pexploit50pcanton,psurface50pcanton,persur50pc,nexploit1968,nexploit50p1968,surface1968,surface50p1968,pexploit50p1968,psurface50p1968
0,06,ALPES-MARITIMES,06086,MOULINET,SOSPEL,23.0,0.0,112.0,0.0,0.0,...,0.0,0.0,0.0,0.000007,0.0,0.0,0.0,0.0,NaN,NaN
1,29,FINISTERE,29111,LANHOUARNEAU,PLOUESCAT,151.0,0.0,1603.0,0.0,0.0,...,0.0,0.0,0.0,0.000038,126.0,0.0,1599.0,0.0,0.0,0.0
2,61,ORNE,61421,SAINT-MARS-D'EGRENNE,PASSAIS,190.0,0.0,2265.0,0.0,0.0,...,0.0,0.0,0.0,0.000065,168.0,0.0,2322.0,0.0,0.0,0.0
3,73,SAVOIE,73099,DETRIER,ROCHETTE,7.0,0.0,82.5,0.0,0.0,...,0.0,0.0,0.0,0.000069,NaN,NaN,NaN,NaN,NaN,NaN
4,72,SARTHE,72008,ARNAGE,MANS-SUD-OUEST,43.0,0.0,394.5,0.0,0.0,...,0.0,0.0,0.0,0.000129,37.0,0.0,366.5,0.0,0.0,0.0

In [80]:
df['codecommune'].nunique(),len(df)

(37936, 37936)

In [81]:
df['TER_nexploit'] = df['nexploit']
df['TER_surf'] = df['nexploit']
df['TER_nexploit68'] = df['nexploit1968']
df['TER_surf68'] = df['surface1968']
df['DBL_bug']=0

In [82]:
df.shape

(37936, 30)

In [83]:
for i,c in enumerate(df) : 
    print (i,c)

0 dep
1 nomdep
2 codecommune
3 nomcommune
4 nomcanton
5 nexploit
6 nexploit50p
7 surface
8 surface50p
9 pexploit50p
10 psurface50p
11 persur50p
12 nexploitcanton
13 nexploit50pcanton
14 surfacecanton
15 surface50pcanton
16 pexploit50pcanton
17 psurface50pcanton
18 persur50pc
19 nexploit1968
20 nexploit50p1968
21 surface1968
22 surface50p1968
23 pexploit50p1968
24 psurface50p1968
25 TER_nexploit
26 TER_surf
27 TER_nexploit68
28 TER_surf68
29 DBL_bug

In [84]:
dfC = df.drop(df.columns[4:25], axis=1)

In [85]:
dfC.head(5)

,dep,nomdep,codecommune,nomcommune,TER_nexploit,TER_surf,TER_nexploit68,TER_surf68,DBL_bug
0,06,ALPES-MARITIMES,06086,MOULINET,23.0,23.0,0.0,0.0,0
1,29,FINISTERE,29111,LANHOUARNEAU,151.0,151.0,126.0,1599.0,0
2,61,ORNE,61421,SAINT-MARS-D'EGRENNE,190.0,190.0,168.0,2322.0,0
3,73,SAVOIE,73099,DETRIER,7.0,7.0,NaN,NaN,0
4,72,SARTHE,72008,ARNAGE,43.0,43.0,37.0,366.5,0

In [86]:
dfC.isna().sum()

dep                  0
nomdep            1365
codecommune          0
nomcommune        1365
TER_nexploit      1862
TER_surf          1862
TER_nexploit68    7518
TER_surf68        7518
DBL_bug              0
dtype: int64

In [87]:
dfC['DBL_bug'] = dfC.apply(lambda row: 2 if row.isna().any() else 0, axis=1)
dfC.head(5)

,dep,nomdep,codecommune,nomcommune,TER_nexploit,TER_surf,TER_nexploit68,TER_surf68,DBL_bug
0,06,ALPES-MARITIMES,06086,MOULINET,23.0,23.0,0.0,0.0,0
1,29,FINISTERE,29111,LANHOUARNEAU,151.0,151.0,126.0,1599.0,0
2,61,ORNE,61421,SAINT-MARS-D'EGRENNE,190.0,190.0,168.0,2322.0,0
3,73,SAVOIE,73099,DETRIER,7.0,7.0,NaN,NaN,2
4,72,SARTHE,72008,ARNAGE,43.0,43.0,37.0,366.5,0

In [88]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [89]:
df_filtered = dfC[dfC['codecommune'].isin(lines)]
df_filtered.shape,dfC.shape

((33803, 9), (37936, 9))

In [90]:
codecommune_listdf_filtered= df_filtered['codecommune'].tolist()
codecommune_listdf_filtered[1], len(codecommune_listdf_filtered)

('29111', 33803)

In [91]:
absent = [x for x in lines if x not in codecommune_listdf_filtered]
len (absent)

27

In [108]:
df_filtered.shape

(33803, 9)

In [109]:
for i,code in enumerate(absent) :
    new_row = ['*', '*', code, '*', 0, 0, 0, 0, 1]
    row_df = pd.DataFrame([new_row], columns=tmp.columns)
    df_filtered = pd.concat([df_filtered, row_df], ignore_index=True)
df_filtered.shape

(33830, 9)

In [110]:
df_filtered.head(-10)

,dep,nomdep,codecommune,nomcommune,TER_nexploit,TER_surf,TER_nexploit68,TER_surf68,DBL_bug
0,06,ALPES-MARITIMES,06086,MOULINET,23.0,23.0,0.0,0.0,0
1,29,FINISTERE,29111,LANHOUARNEAU,151.0,151.0,126.0,1599.0,0
2,61,ORNE,61421,SAINT-MARS-D'EGRENNE,190.0,190.0,168.0,2322.0,0
3,73,SAVOIE,73099,DETRIER,7.0,7.0,NaN,NaN,2
4,72,SARTHE,72008,ARNAGE,43.0,43.0,37.0,366.5,0
...,...,...,...,...,...,...,...,...,...
33815,*,*,13213,*,0.0,0.0,0.0,0.0,1
33816,*,*,13214,*,0.0,0.0,0.0,0.0,1
33817,*,*,13215,*,0.0,0.0,0.0,0.0,1
33818,*,*,13216,*,0.0,0.0,0.0,0.0,1
33819,*,*,69380,*,0.0,0.0,0.0,0.0,1

In [111]:
columns_to_fill = ['TER_nexploit','TER_surf','TER_nexploit68','TER_surf68']
df_filtered[columns_to_fill] = df_filtered[columns_to_fill].fillna(0)

In [113]:
df_filtered.isna().sum()

dep               0
nomdep            2
codecommune       0
nomcommune        2
TER_nexploit      0
TER_surf          0
TER_nexploit68    0
TER_surf68        0
DBL_bug           0
dtype: int64

In [114]:
columns_to_fill = ['nomdep', 'nomcommune']
df_filtered[columns_to_fill] = df_filtered[columns_to_fill].fillna('*')
df_filtered.isna().sum()

dep               0
nomdep            0
codecommune       0
nomcommune        0
TER_nexploit      0
TER_surf          0
TER_nexploit68    0
TER_surf68        0
DBL_bug           0
dtype: int64

## <a name="TRANSCO"></a>Partie 3 : Filtres et/ou calculs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [115]:
len(lines)

33830

In [116]:
len(df_filtered)

33830

## <a name="EXPORT"></a>Partie 4 : EXPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [117]:
for i,c in enumerate(df_filtered) : 
    print (i,c)

0 dep
1 nomdep
2 codecommune
3 nomcommune
4 TER_nexploit
5 TER_surf
6 TER_nexploit68
7 TER_surf68
8 DBL_bug

In [120]:
path_export='../DATA/EXPORT_CSV/final_TER_terrescommunes.csv'

In [121]:
df_filtered.to_csv(path_export, sep=';', index=False)

print(f'DataFrame exported to: {path_export}')

DataFrame exported to: ../DATA/EXPORT_CSV/final_TER_terrescommunes.csv