# <center>  Model Creat Dataframe agesexcommunes [AGE]<br/></center>
<a name="TOP"></a>
- dev : nyx
- Fichier CSV : Proprietaires_csv/Proprietaires_csv/proprietairescommunes.csv</a>

ALERTES 98 lignes à Nan 
Faire les plus proches voisins apres FUSION ?
    
# Description Fichiers : 
Capital immo pour 2022 , 2012 , 2002 , 1992
avec pour chaque année :
    4 capital immo
    5 prix du bien

# Synthese des Actions :
Plus de 1000 communes non renseignees flag 1 pour BL_bug
creation de lignes avec que des 0
  
**<u>MENU</u>** 
- <a href="#Import">P0 : Import CSV</a>
- <a href="#EDA">P1 : Mini EDA</a>
- <a href="#Nan">P2 : Traitement des Nan</a>
- <a href="#TRANSCO">P3 : Filtres et/ou calculs</a>
- <a href="#EXPORT">P4 : EXPORT (/DATA/EXPORT_CSV/final_xxxxxxx.csv)</a>

PREFIXE FICHIER : KP1
Structure :

    0 dep
    1 nomdep
    2 codecommune
    3 nomcommune
    4 KP1_capitalimmo22
    5 KP1_prixbien22
    6 KP1_capitalimmo12
    7 KP1_prixbien12
    8 KP1_capitalimmo02
    9 KP1_prixbien02
    10 KP1_capitalimmo92
    11 KP1_prixbien92
    12 DBL_bug (flag à 1 poour les lignes ajoutées avec des Nan A TRAITER)

In [73]:
import warnings
warnings.filterwarnings("ignore")

import os
import zipfile
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## <a name="Import"></a>Partie 0 : Import CSV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [74]:
def df_creat(filename, df_dataframe):  
    df = df_dataframe[df_dataframe['filename'] == filename]
    if len(df) == 1:
        row = df.iloc[0]
        file = row['path']
        if os.path.exists(file):
            print(file)
            df_from_csv = pd.read_csv(file, encoding='utf-8', low_memory=False)
            return df_from_csv
        else:
            print('FICHIER NON TROUVE', file)
            return pd.DataFrame()
    else:
        print(f"filename: '{filename}' return size: {len(df)}")
        return pd.DataFrame()

In [75]:
csv_file_path = 'df_filtred.csv'
# Use pandas to read the CSV file into a DataFrame with UTF-8 encoding
df_cat = pd.read_csv(csv_file_path, encoding='utf-8')

In [76]:
df_cat.head(1)

,category,filename,comment,size,depart,district,commune,canton,yyyy,path,codecommune
0,Taille_agglo_commune_csv,codescommunes1999,codes,0,0,0,1,0,1999,../../ProjetCommun/DATA_SOURCES/HCP/Taille_agg...,1

In [77]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [78]:
df = df_creat('agesexcommunes', df_cat)

../../ProjetCommun/DATA_SOURCES/HCP/Age_csp/agesexcommunes.csv

## <a name="EDA"></a>Partie 1 : Mini EDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [79]:
df.shape

(37985, 2385)

In [80]:
df.head(5)

,dep,nomdep,codecommune,nomcommune,poph0141962,poph15391962,poph40591962,poph60p1962,popf0141962,popf15391962,...,perprop0141957,perprop60p1957,perpropf1958,perage1958,perprop0141958,perprop60p1958,perpropf1959,perage1959,perprop0141959,perprop60p1959
0,25,DOUBS,25443,PALANTINE,5.0,5.0,6.0,3.0,7.0,6.0,...,0.929899,0.093060,0.946069,0.006167,0.929899,0.093060,0.946069,0.006167,0.929899,0.093060
1,70,HAUTE-SAONE,70440,RECOLOGNE,3.0,6.0,4.0,2.0,3.0,5.0,...,0.355285,0.711124,0.112636,0.088098,0.355285,0.711124,0.112636,0.088098,0.355285,0.711124
2,21,COTE-D'OR,21276,FONTAINES-EN-DUESMOIS,32.0,37.0,24.0,16.0,29.0,22.0,...,0.938310,0.188820,0.043178,0.144777,0.938310,0.188820,0.043178,0.144777,0.938310,0.188820
3,31,HAUTE-GARONNE,31266,LAHAGE,6.0,94.0,17.0,10.0,8.0,14.0,...,0.003273,0.089764,0.001752,0.149059,0.003273,0.089764,0.001752,0.149059,0.003273,0.089764
4,06,ALPES-MARITIMES,06076,LIEUCHE,1.0,3.0,4.0,2.0,2.0,5.0,...,0.069635,0.323348,0.509821,0.861277,0.069635,0.323348,0.509821,0.861277,0.069635,0.323348

In [81]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2022 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

popf0142022
popf15392022
popf40592022
popf60p2022
poph0142022
poph15392022
poph40592022
poph60p2022
agef2022
ageh2022
popf2022
poph2022
propf2022
age2022
pop2022
propf0142022
propf15392022
propf40592022
propf60p2022
prop0142022
prop15392022
prop40592022
prop60p2022
perpropf2022
perage2022
perprop0142022
perprop60p2022
{'dep': '25', 'nomdep': 'DOUBS', 'codecommune': '25443', 'nomcommune': 'PALANTINE', 'popf0142022': 33, 'popf15392022': 34, 'popf40592022': 1, 'popf60p2022': 0, 'poph0142022': 39, 'poph15392022': 12, 'poph40592022': 8, 'poph60p2022': 0, 'agef2022': 18.0, 'ageh2022': 18.0, 'popf2022': 68, 'poph2022': 59, 'propf2022': 0.53543305, 'age2022': 18.0, 'pop2022': 127, 'propf0142022': 0.45833334, 'propf15392022': 0.73913044, 'propf40592022': 0.11111111, 'propf60p2022': nan, 'prop0142022': 0.56692916, 'prop15392022': 0.36220473, 'prop40592022': 0.070866145, 'prop60p2022': 0.0, 'perpropf2022': 0.77785933, 'perage2022': 8.2635539e-05, 'perprop0142022': 0.99995488, 'perprop60p2022': 1.8888974e-06}

In [82]:
df.shape

(37985, 2385)

In [83]:
list_yyyy = [2022,2012,2002,1992]
list_indic = ['pop','propf',
              'popf014','popf1539','popf4059','popf60p',
              'poph014','poph1539','poph4059','poph60p',              
              'prop014','prop1539','prop4059','prop60p',
              'propf014','propf1539','propf4059','propf60p',
              'age','agef','ageh']
list_col = df.columns.tolist()
for yyyy in list_yyyy :
    for indic in list_indic :
        col_source = str(indic) + str(yyyy)
        if col_source in list_col :
            yy=str(yyyy)[-2:]
            new_col='AGE_'+ str(indic) +'_'+ str(yy)
            df[new_col] = df[col_source]
df.shape

(37985, 2469)

In [84]:
df = df.drop(df.columns[4:2385], axis=1)
df.head(2)

,dep,nomdep,codecommune,nomcommune,AGE_pop_22,AGE_propf_22,AGE_popf014_22,AGE_popf1539_22,AGE_popf4059_22,AGE_popf60p_22,...,AGE_prop1539_92,AGE_prop4059_92,AGE_prop60p_92,AGE_propf014_92,AGE_propf1539_92,AGE_propf4059_92,AGE_propf60p_92,AGE_age_92,AGE_agef_92,AGE_ageh_92
0,25,DOUBS,25443,PALANTINE,127,0.535433,33,34,1,0,...,0.432432,0.324324,0.081081,1.0,0.375,0.333333,0.333333,36.771770,31.666666,41.111111
1,70,HAUTE-SAONE,70440,RECOLOGNE,48,0.312500,0,0,15,0,...,0.166667,0.111111,0.722222,NaN,1.000,0.500000,0.538462,61.819962,59.407410,65.611115

In [85]:
for i,c in enumerate(df) : 
    print (i,c)

0 dep
1 nomdep
2 codecommune
3 nomcommune
4 AGE_pop_22
5 AGE_propf_22
6 AGE_popf014_22
7 AGE_popf1539_22
8 AGE_popf4059_22
9 AGE_popf60p_22
10 AGE_poph014_22
11 AGE_poph1539_22
12 AGE_poph4059_22
13 AGE_poph60p_22
14 AGE_prop014_22
15 AGE_prop1539_22
16 AGE_prop4059_22
17 AGE_prop60p_22
18 AGE_propf014_22
19 AGE_propf1539_22
20 AGE_propf4059_22
21 AGE_propf60p_22
22 AGE_age_22
23 AGE_agef_22
24 AGE_ageh_22
25 AGE_pop_12
26 AGE_propf_12
27 AGE_popf014_12
28 AGE_popf1539_12
29 AGE_popf4059_12
30 AGE_popf60p_12
31 AGE_poph014_12
32 AGE_poph1539_12
33 AGE_poph4059_12
34 AGE_poph60p_12
35 AGE_prop014_12
36 AGE_prop1539_12
37 AGE_prop4059_12
38 AGE_prop60p_12
39 AGE_propf014_12
40 AGE_propf1539_12
41 AGE_propf4059_12
42 AGE_propf60p_12
43 AGE_age_12
44 AGE_agef_12
45 AGE_ageh_12
46 AGE_pop_02
47 AGE_propf_02
48 AGE_popf014_02
49 AGE_popf1539_02
50 AGE_popf4059_02
51 AGE_popf60p_02
52 AGE_poph014_02
53 AGE_poph1539_02
54 AGE_poph4059_02
55 AGE_poph60p_02
56 AGE_prop014_02
57 AGE_prop1539_02
58 AGE_prop4059_02
59 AGE_prop60p_02
60 AGE_propf014_02
61 AGE_propf1539_02
62 AGE_propf4059_02
63 AGE_propf60p_02
64 AGE_age_02
65 AGE_agef_02
66 AGE_ageh_02
67 AGE_pop_92
68 AGE_propf_92
69 AGE_popf014_92
70 AGE_popf1539_92
71 AGE_popf4059_92
72 AGE_popf60p_92
73 AGE_poph014_92
74 AGE_poph1539_92
75 AGE_poph4059_92
76 AGE_poph60p_92
77 AGE_prop014_92
78 AGE_prop1539_92
79 AGE_prop4059_92
80 AGE_prop60p_92
81 AGE_propf014_92
82 AGE_propf1539_92
83 AGE_propf4059_92
84 AGE_propf60p_92
85 AGE_age_92
86 AGE_agef_92
87 AGE_ageh_92

In [86]:
df.isna().sum()

dep                    0
nomdep               243
codecommune            0
nomcommune           243
AGE_pop_22             0
                    ...
AGE_propf4059_92    1478
AGE_propf60p_92     1471
AGE_age_92          1485
AGE_agef_92         1472
AGE_ageh_92         1463
Length: 88, dtype: int64

In [87]:
df.shape

(37985, 88)

In [88]:
df['codecommune'].nunique(),len(df)

(37985, 37985)

## <a name="TRANSCO"></a>Partie 3 : Filtres et/ou calculs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [89]:
df_filtered = df[df['codecommune'].isin(lines)]
df_filtered.shape,df.shape

((33803, 88), (37985, 88))

In [90]:
codecommune_listdf_filtered= df_filtered['codecommune'].tolist()
codecommune_listdf_filtered[1], len(codecommune_listdf_filtered)

('31266', 33803)

In [91]:
absent = [x for x in lines if x not in codecommune_listdf_filtered]
len (absent)

27

In [92]:
absent

['13201',
 '13202',
 '13203',
 '13204',
 '13205',
 '13206',
 '13207',
 '13208',
 '13209',
 '13210',
 '13211',
 '13212',
 '13213',
 '13214',
 '13215',
 '13216',
 '69380',
 '69381',
 '69382',
 '69383',
 '69384',
 '69385',
 '69386',
 '69387',
 '69388',
 '69389',
 '75056']

Toujours les memes 27 communes qui posent pb !!!

['13201', '13202','13203','13204','13205','13206','13207', '13208', '13209', '13210', '13211', '13212', '13213', '13214', '13215', '13216', '69281', '69282', '69283', '69284', '69285',
 '69286', '69287', '69288', '69289', '69380', '75056']

In [93]:
df_filtered['DBL_bug'] = 0

In [94]:
df_filtered.head(1)

,dep,nomdep,codecommune,nomcommune,AGE_pop_22,AGE_propf_22,AGE_popf014_22,AGE_popf1539_22,AGE_popf4059_22,AGE_popf60p_22,...,AGE_prop4059_92,AGE_prop60p_92,AGE_propf014_92,AGE_propf1539_92,AGE_propf4059_92,AGE_propf60p_92,AGE_age_92,AGE_agef_92,AGE_ageh_92,DBL_bug
2,21,COTE-D'OR,21276,FONTAINES-EN-DUESMOIS,103,0.38835,0,34,6,0,...,0.213675,0.307692,0.214286,0.47619,0.44,0.527778,42.275455,46.926739,38.423611,0

In [96]:
new_row = ['*', '*', 'code', '*'] + [np.nan] * 84 +[1]
len (new_row)

89

In [97]:
len(df_filtered.columns)

89

In [98]:
for i,code in enumerate(absent) :
    new_row = ['*', '*', code, '*'] + [np.nan] * 84 + [1]
    row_df = pd.DataFrame([new_row], columns=df_filtered.columns)
    df_filtered = pd.concat([df_filtered, row_df], ignore_index=True)
df_filtered.shape

(33830, 89)

## <a name="EXPORT"></a>Partie 4 : EXPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [99]:
path_export='../DATA/EXPORT_CSV/final_AGE_agesexcommunes.csv'

In [100]:
df_filtered.to_csv(path_export, sep=';', index=False)
print(f'DataFrame exported to: {path_export}')

DataFrame exported to: ../DATA/EXPORT_CSV/final_AGE_agesexcommunes.csv