# <center>  Model Creat Dataframe CAPITAL IMMOBILIER COMMUNES [KP1]<br/></center>
<a name="TOP"></a>
- dev : nyx
- Fichier CSV :  Capital_immobilier_csv/Capital_immobilier_csv/capitalimmobiliercommunes.csv</a>

ALERTES 98 lignes à Nan 
Faire les plus proches voisins apres FUSION ?
    
# Description Fichiers : 
Capital immo pour 2022 , 2012 , 2002 , 1992
avec pour chaque année :
    4 capital immo
    5 prix du bien

# Synthese des Actions :
Plus de 1000 communes non renseignees flag 1 pour BL_bug
creation de lignes avec que des 0
  
**<u>MENU</u>** 
- <a href="#Import">P0 : Import CSV</a>
- <a href="#EDA">P1 : Mini EDA</a>
- <a href="#Nan">P2 : Traitement des Nan</a>
- <a href="#TRANSCO">P3 : Filtres et/ou calculs</a>
- <a href="#EXPORT">P4 : EXPORT (/DATA/EXPORT_CSV/final_xxxxxxx.csv)</a>

PREFIXE FICHIER : KP1
Structure :

    0 dep
    1 nomdep
    2 codecommune
    3 nomcommune
    4 KP1_capitalimmo22
    5 KP1_prixbien22
    6 KP1_capitalimmo12
    7 KP1_prixbien12
    8 KP1_capitalimmo02
    9 KP1_prixbien02
    10 KP1_capitalimmo92
    11 KP1_prixbien92
    12 DBL_bug (flag à 1 poour les lignes ajoutées avec des Nan A TRAITER)

In [1]:
import warnings
warnings.filterwarnings("ignore")

import os
import zipfile
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## <a name="Import"></a>Partie 0 : Import CSV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [2]:
def df_creat(filename, df_dataframe):  
    df = df_dataframe[df_dataframe['filename'] == filename]
    if len(df) == 1:
        row = df.iloc[0]
        file = row['path']
        if os.path.exists(file):
            print(file)
            df_from_csv = pd.read_csv(file, encoding='utf-8', low_memory=False)
            return df_from_csv
        else:
            print('FICHIER NON TROUVE', file)
            return pd.DataFrame()
    else:
        print(f"filename: '{filename}' return size: {len(df)}")
        return pd.DataFrame()

In [3]:
csv_file_path = 'df_filtred.csv'
# Use pandas to read the CSV file into a DataFrame with UTF-8 encoding
df_cat = pd.read_csv(csv_file_path, encoding='utf-8')

In [4]:
df_cat.head(1)

,category,filename,comment,size,depart,district,commune,canton,yyyy,path,codecommune
0,Taille_agglo_commune_csv,codescommunes1999,codes,0,0,0,1,0,1999,../../ProjetCommun/DATA_SOURCES/HCP/Taille_agg...,1

In [91]:
df = df_creat('capitalimmobiliercommunes', df_cat)

../../ProjetCommun/DATA_SOURCES/HCP/Capital_immobilier_csv/Capital_immobilier_csv/capitalimmobiliercommunes.csv

## <a name="EDA"></a>Partie 1 : Mini EDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [92]:
df.shape

(34652, 1666)

In [93]:
df.head(5)

,dep,nomdep,codecommune,nomcommune,plm,paris,capitalratio1790,capitalratio1791,capitalratio1792,capitalratio1793,...,percap1810,percap1811,percap1812,percap1813,percap1814,percap1815,percap1816,percap1817,percap1818,percap1819
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0,0,0.827135,0.827135,0.827135,0.827135,...,0.538974,0.538974,0.538974,0.538974,0.538974,0.538974,0.538974,0.538974,0.538974,0.538974
1,01,AIN,01002,ABERGEMENT-DE-VAREY,0,0,0.466109,0.466109,0.466109,0.466109,...,0.121702,0.121702,0.121702,0.121702,0.121702,0.121702,0.121702,0.121702,0.121702,0.121702
2,01,AIN,01004,AMBERIEU-EN-BUGEY,0,0,0.791716,0.791716,0.791716,0.791716,...,0.502199,0.502199,0.502199,0.502199,0.502199,0.502199,0.502199,0.502199,0.502199,0.502199
3,01,AIN,01005,AMBERIEUX-EN-DOMBES,0,0,0.727506,0.727506,0.727506,0.727506,...,0.424756,0.424756,0.424756,0.424756,0.424756,0.424756,0.424756,0.424756,0.424756,0.424756
4,01,AIN,01006,AMBLEON,0,0,0.854508,0.854508,0.854508,0.854508,...,0.570336,0.570336,0.570336,0.570336,0.570336,0.570336,0.570336,0.570336,0.570336,0.570336

In [94]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2022 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

capitalratio2022
capitalratioagglo2022
capitalimmo2022
capitalimmoagglo2022
prixbien2022
surfaceterrain2022
pop2022
percapagglo2022
surface2022
propappartementdep2022
propappartement2022
prixm22022
prixm2ratio2022
percap2022
{'dep': '01', 'nomdep': 'AIN', 'codecommune': '01001', 'nomcommune': 'ABERGEMENT-CLEMENCIAT', 'plm': 0, 'paris': 0, 'capitalratio2022': 1.0423332, 'capitalratioagglo2022': 1.0421791, 'capitalimmo2022': 1.2463343e-05, 'capitalimmoagglo2022': 1.24633434098e-05, 'prixbien2022': 231440.42, 'surfaceterrain2022': 825.50385, 'pop2022': 786, 'codeagglo': 'C01001', 'percapagglo2022': 0.60320038, 'nomagglo': 'ABERGEMENT-CLÉMENCIAT', 'surface2022': 111.78895, 'propappartementdep2022': 0.36585367, 'propappartement2022': 0.0, 'prixm22022': 2070.3337, 'prixm2ratio2022': 0.6668126, 'percap2022': 0.64704514}

In [95]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2002 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

capitalratio2002
capitalratioagglo2002
capitalimmo2002
capitalimmoagglo2002
prixbien2002
pop2002
percapagglo2002
percap2002
{'dep': '01', 'nomdep': 'AIN', 'codecommune': '01001', 'nomcommune': 'ABERGEMENT-CLEMENCIAT', 'plm': 0, 'paris': 0, 'capitalratio2002': 1.2022585, 'capitalratioagglo2002': 1.2022879, 'capitalimmo2002': 1.5375608e-05, 'capitalimmoagglo2002': 1.53756082e-05, 'prixbien2002': 122253.57, 'pop2002': 764, 'codeagglo': 'C01001', 'percapagglo2002': 0.70768666, 'nomagglo': 'ABERGEMENT-CLÉMENCIAT', 'percap2002': 0.75788665}

In [96]:
df.shape

(34652, 1666)

list_indic = ['capitalimmo','prixbien','surfaceterrain','surface','propappartement','prixm2']
NAN
dep                         0
nomdep                      0
codecommune                 0
nomcommune                  0
KP1_capitalimmo22           0
KP1_prixbien22              0
KP1_surfaceterrain22     1602
KP1_surface22            1602
KP1_propappartement22    1602
KP1_prixm222             1602
KP1_capitalimmo12           0
KP1_prixbien12              0
KP1_capitalimmo02           0
KP1_prixbien02              0
KP1_capitalimmo92           0
KP1_prixbien92              0
dtype: int64

In [97]:
list_yyyy = [2022,2012,2002,1992]
list_indic = ['capitalimmo','prixbien']
list_col = df.columns.tolist()
for yyyy in list_yyyy :
    for indic in list_indic :
        col_source = str(indic) + str(yyyy)
        if col_source in list_col :
            yy=str(yyyy)[-2:]
            new_col='KP1_'+ str(indic) + str(yy)
            df[new_col] = df[col_source]

df.shape

(34652, 1674)

In [98]:
df = df.drop(df.columns[4:1666], axis=1)
df.head(2)

,dep,nomdep,codecommune,nomcommune,KP1_capitalimmo22,KP1_prixbien22,KP1_capitalimmo12,KP1_prixbien12,KP1_capitalimmo02,KP1_prixbien02,KP1_capitalimmo92,KP1_prixbien92
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0.000012,231440.42,0.000013,208719.45,0.000015,122253.570,0.000012,84408.664
1,01,AIN,01002,ABERGEMENT-DE-VAREY,0.000002,136645.75,0.000002,123230.97,0.000002,72180.258,0.000002,49836.090

In [99]:
df.isna().sum()

dep                  0
nomdep               0
codecommune          0
nomcommune           0
KP1_capitalimmo22    0
KP1_prixbien22       0
KP1_capitalimmo12    0
KP1_prixbien12       0
KP1_capitalimmo02    0
KP1_prixbien02       0
KP1_capitalimmo92    0
KP1_prixbien92       0
dtype: int64

In [100]:
df['codecommune'].nunique(),len(df)

(34652, 34652)

## <a name="TRANSCO"></a>Partie 3 : Filtres et/ou calculs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [101]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [102]:
df_filtered = df[df['codecommune'].isin(lines)]
df_filtered.shape,df.shape

((33732, 12), (34652, 12))

In [103]:
codecommune_listdf_filtered= df_filtered['codecommune'].tolist()
codecommune_listdf_filtered[1], len(codecommune_listdf_filtered)

('01002', 33732)

In [104]:
absent = [x for x in lines if x not in codecommune_listdf_filtered]
len (absent)

98

In [107]:
df_filtered['DBL_bug'] = 0

In [108]:
df_filtered.head(1)

,dep,nomdep,codecommune,nomcommune,KP1_capitalimmo22,KP1_prixbien22,KP1_capitalimmo12,KP1_prixbien12,KP1_capitalimmo02,KP1_prixbien02,KP1_capitalimmo92,KP1_prixbien92,DBL_bug
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0.000012,231440.42,0.000013,208719.45,0.000015,122253.57,0.000012,84408.664,0

In [109]:
df_filtered.shape

(33732, 13)

In [110]:
for i,code in enumerate(absent) :
    new_row = ['*', '*', code, '*', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1]
    row_df = pd.DataFrame([new_row], columns=df_filtered.columns)
    df_filtered = pd.concat([df_filtered, row_df], ignore_index=True)
df_filtered.shape

(33830, 13)

In [111]:
33830-33732

98

In [112]:
df_filtered.isna().sum()

dep                   0
nomdep                0
codecommune           0
nomcommune            0
KP1_capitalimmo22    98
KP1_prixbien22       98
KP1_capitalimmo12    98
KP1_prixbien12       98
KP1_capitalimmo02    98
KP1_prixbien02       98
KP1_capitalimmo92    98
KP1_prixbien92       98
DBL_bug               0
dtype: int64

In [113]:
len(lines)

33830

In [114]:
len(df_filtered)

33830

## <a name="EXPORT"></a>Partie 4 : EXPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [115]:
for i,c in enumerate(df_filtered) : 
    print (i,c)

0 dep
1 nomdep
2 codecommune
3 nomcommune
4 KP1_capitalimmo22
5 KP1_prixbien22
6 KP1_capitalimmo12
7 KP1_prixbien12
8 KP1_capitalimmo02
9 KP1_prixbien02
10 KP1_capitalimmo92
11 KP1_prixbien92
12 DBL_bug

In [116]:
path_export='../DATA/EXPORT_CSV/final_KP1_capitalimmobiliercommunes.csv'

In [117]:
df_filtered.to_csv(path_export, sep=';', index=False)

print(f'DataFrame exported to: {path_export}')

DataFrame exported to: ../DATA/EXPORT_CSV/final_KP1_capitalimmobiliercommunes.csv